body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
               supported by Chrome and Opera */ }

.nopointerevents {
  pointer-events: none; }

.nopadding {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.button-dark {
  background: #492F92 !important; }

.handCursor, .button, .footer .bigNavigation .arrowContainer, .socialButton, .footer .footerSocialsContainer .socials .twitter, .footer .footerSocialsContainer .socials .facebook, .footer .footerSocialsContainer .socials .vk, .replay {
  cursor: pointer; }

.marginHorizontalCentering {
  margin: 0 auto; }

.floatLeft, .footer, .footer .bigNavigation, .footer .bigNavigation .pagination, .footer .footerSocialsContainer, .footer .footerLogoContainer, .content, #animation, .infoContentContainer, .navigationButton, .footer .bigNavigation #rewindScenesButton, .footer .bigNavigation #prevButton, .footer .bigNavigation #nextButton {
  float: left;
  display: block; }

.flexbox, .footer .bigNavigation, .footer .bigNavigation .arrows, .wrapper, .noAnimationContainer .noAnimationContent, .gifAnimationContainer, .gifAnimationContainer #whyInfoContainer, .infoContentContainer .whyButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center; }

.flexboxVertical, .footer .bigNavigation .pagination, .footer .footerSocialsContainer, .footer .footerLogoContainer, .noAnimationContainer .noAnimationContentCustomImageBackground {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.navigationButton, .footer .bigNavigation #rewindScenesButton, .footer .bigNavigation #prevButton, .footer .bigNavigation #nextButton {
  width: auto; }

.button {
  background: #F47A20;
  display: block;
  text-decoration: none;
  border-radius: 0.9em;
  padding: 0.6em 0.9em;
  font-size: 1.7em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  color: white;
  max-width: 200px; }
  @media screen and (max-width: 480px) {
    .button {
      font-size: 1em;
      padding: 0.7em 1.4em;
      border-radius: 1em; } }
  @media screen and (max-width: 768px) {
    .button {
      font-size: 1.2em;
      padding: 0.7em 1.4em;
      border-radius: 1em; } }

.footer {
  display: block;
  width: 100%;
  height: 17%;
  position: relative; }
  .footer .bigNavigation {
    width: 50%;
    height: 100%;
    background-color: #492F92; }
    .footer .bigNavigation .arrows {
      height: 100%; }
    .footer .bigNavigation #rewindScenesButton {
      height: 48% !important; }
    .footer .bigNavigation .arrowContainer {
      height: 60%; }
    .footer .bigNavigation .pagination {
      height: 100%;
      font-size: 1.2em;
      color: white;
      text-align: center;
      padding: 0 12px; }
  .footer .footerSocialsContainer {
    width: 20%;
    height: 100%;
    background-color: #492F92; }
    .footer .footerSocialsContainer .socials {
      width: 100%;
      color: white; }
      .footer .footerSocialsContainer .socials .twitter {
        background: url("../assets/twitter_normal.png") no-repeat; }
      .footer .footerSocialsContainer .socials .twitter:hover {
        background: url("../assets/twitter_hovered.png") no-repeat; }
      .footer .footerSocialsContainer .socials .facebook {
        background: url("../assets/fb_normal.png") no-repeat; }
      .footer .footerSocialsContainer .socials .facebook:hover {
        background: url("../assets/fb_hovered.png") no-repeat; }
      .footer .footerSocialsContainer .socials .vk {
        background: url("../assets/vk_normal.png") no-repeat; }
      .footer .footerSocialsContainer .socials .vk:hover {
        background: url("../assets/vk_hovered.png") no-repeat; }
  .footer .footerLogoContainer {
    width: 30%;
    height: 100%;
    background-color: #492F92; }
    .footer .footerLogoContainer #logoImage {
      width: 72%;
      height: auto;
      display: block;
      margin-left: auto;
      padding-right: 20px; }

.socialButton, .footer .footerSocialsContainer .socials .twitter, .footer .footerSocialsContainer .socials .facebook, .footer .footerSocialsContainer .socials .vk {
  width: 21px;
  height: 18px;
  display: block;
  float: left;
  padding: 0 10px; }

.wrapper {
  width: 100%;
  height: 100%; }

.container {
  width: 70%;
  height: 90%;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    .container {
      width: 100%;
      height: 100%; } }

.content {
  width: 100%;
  height: 83%;
  background-color: white;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover; }

#animation {
  width: 45%;
  background-size: cover; }

.noAnimationContainer {
  width: 100%;
  height: 100%;
  display: none;
  color: white !important; }
  .noAnimationContainer .introImages {
    width: 60%;
    height: 100%;
    display: block;
    float: right; }
    .noAnimationContainer .introImages #introImage1 {
      width: auto;
      height: 100%;
      float: right; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .noAnimationContainer .introImages {
        width: 100%;
        height: 50%; } }
  .noAnimationContainer #noAnimationContentButtonContainer {
    width: 100%; }
  .noAnimationContainer #noAnimationContentText {
    width: 90%;
    text-align: center;
    padding: 1vw; }
  .noAnimationContainer .noAnimationContent {
    width: 100%;
    height: 100%;
    z-index: 10; }
  .noAnimationContainer .noAnimationContentCustomImageBackground {
    position: relative;
    width: 40%;
    height: 100%;
    z-index: 10; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .noAnimationContainer .noAnimationContentCustomImageBackground {
        width: 100%;
        height: 50%; } }

.sceneTextWrapper {
  width: 100%;
  height: 65%; }

.gifAnimationContainer {
  position: relative;
  float: left;
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .gifAnimationContainer {
      width: 100%;
      height: 50%; } }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .gifAnimationContainer {
      width: 100%;
      height: 65%; } }
  .gifAnimationContainer #whyInfoContainer {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    background: rgba(83, 0, 146, 0.85); }
    .gifAnimationContainer #whyInfoContainer .whyInfoContainerClose {
      background: url("../assets/cross.png");
      width: 15px;
      height: 15px;
      position: absolute;
      right: 10px;
      top: 10px;
      /* Firefox */
      -moz-transition: all 0.5s ease;
      /* WebKit */
      -webkit-transition: all 0.5s ease;
      /* Opera */
      -o-transition: all 0.5s ease;
      /* Standard */
      transition: all 0.5s ease; }
    .gifAnimationContainer #whyInfoContainer .whyInfoContainerClose:hover {
      -moz-transform: rotate(180deg);
      /* WebKit */
      -webkit-transform: rotate(180deg);
      /* Opera */
      -o-transform: rotate(180deg);
      /* Standard */
      transform: rotate(180deg); }
    .gifAnimationContainer #whyInfoContainer #whyInfoText {
      width: 90%;
      text-align: center; }

.sceneTextContainer {
  width: 80%;
  font-weight: 700;
  font-size: 2em;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .sceneTextContainer {
      font-size: 1.6em; } }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .sceneTextContainer {
      font-size: 1.1em;
      width: 100%;
      padding-top: 16px; } }
  @media screen and (max-width: 480px) and (orientation: landscape) {
    .sceneTextContainer {
      font-size: 1.2em;
      padding-top: 16px; } }

.infoContentContainer {
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .infoContentContainer {
      width: 100%;
      height: 50%; } }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .infoContentContainer {
      width: 100%;
      height: 25%; } }
  .infoContentContainer .whyButtonContainer {
    width: 100%;
    padding-top: 20px; }
    @media screen and (max-width: 480px) {
      .infoContentContainer .whyButtonContainer {
        padding-top: 8px; } }

#gifAnimation {
  width: 100%;
  height: auto; }

.replay {
  position: absolute;
  top: 0;
  right: 0;
  width: 47px;
  height: 47px;
  display: block;
  float: right;
  background: url("../assets/replay.png");
  opacity: 0.7; }

.replay:hover {
  opacity: 1;
  background: url("../assets/replay-hover.png");
  width: 129px;
  height: 47px; }

/*# sourceMappingURL=style.css.map */
