body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: aliceblue;
}
#animation{
  width: 40%;
  height: auto;
  display: block;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
}