body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: aliceblue;
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
               supported by Chrome and Opera */ }

.floatLeft, .content, #animation, .infoContentContainer, .navigationButton, .footer, .footer .bigNavigation, .footer .bigNavigation .pagination, .footer .footerSocialsContainer, .footer .footerLogoContainer {
  float: left;
  display: block; }

.flexbox, .wrapper, .infoContentContainer .whyButtonContainer, .gifAnimationContainer, .footer .bigNavigation, .footer .bigNavigation .arrows {
  display: flex;
  justify-content: center;
  align-items: center; }

.flexboxVertical, .noAnimationContainer .noAnimationContent, .footer .bigNavigation .pagination, .footer .footerSocialsContainer, .footer .footerLogoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.handCursor, .socialButton, .footer .footerSocialsContainer .socials .twitter, .footer .footerSocialsContainer .socials .facebook, .footer .footerSocialsContainer .socials .vk, .replay, .button, .footer .bigNavigation .arrowContainer {
  cursor: pointer; }

.socialButton, .footer .footerSocialsContainer .socials .twitter, .footer .footerSocialsContainer .socials .facebook, .footer .footerSocialsContainer .socials .vk {
  width: 21px;
  height: 18px;
  display: block;
  float: left;
  padding: 0 10px; }

.wrapper {
  width: 100%;
  height: 100%; }

.container {
  width: 70%;
  height: 90%;
  margin: 0 auto; }

.content {
  width: 100%;
  height: 83%;
  background-color: white;
  overflow: hidden; }

#animation {
  width: 45%;
  background-size: cover; }

.noAnimationContainer {
  width: 100%;
  height: 100%;
  display: none; }
  .noAnimationContainer .noAnimationContent {
    /*@extend .flexbox;*/
    width: 100%;
    height: 100%; }
    .noAnimationContainer .noAnimationContent #noAnimationContentText {
      color: white !important;
      width: 100%;
      text-align: center; }

.sceneTextWrapper {
  width: 100%;
  height: 65%; }

.sceneTextContainer {
  width: 80%;
  font-weight: 700;
  font-size: 2vw;
  text-align: center; }

.infoContentContainer {
  width: 50%;
  height: 100%; }
  .infoContentContainer .whyButtonContainer {
    width: 100%;
    padding-top: 20px; }

.gifAnimationContainer {
  position: relative;
  float: left;
  width: 50%;
  height: 100%; }

#gifAnimation {
  width: 100%;
  height: auto; }

.replay {
  position: absolute;
  top: 0;
  right: 0;
  width: 47px;
  height: 47px;
  display: block;
  float: right;
  background: url("assets/replay.png");
  opacity: 0.7; }

.replay:hover {
  opacity: 1;
  background: url("assets/replay-hover.png");
  width: 129px;
  height: 47px; }

.button {
  background: #F47A20;
  display: block;
  text-decoration: none;
  border-radius: 3vw;
  padding: 1.3vw 2vw;
  font-size: 1.7vw;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  line-height: 20px;
  color: white; }

.button-dark {
  background: #492F92; }

.footer {
  display: block;
  width: 100%;
  height: 17%;
  position: relative; }
  .footer .bigNavigation {
    width: 50%;
    height: 100%;
    background-color: #492F92; }
    .footer .bigNavigation .arrows {
      height: 100%; }
    .footer .bigNavigation .pagination {
      height: 100%;
      font-size: 2vw;
      color: white;
      text-align: center;
      padding: 0 12px; }
  .footer .footerSocialsContainer {
    width: 20%;
    height: 100%;
    background-color: #492F92; }
    .footer .footerSocialsContainer .socials {
      width: 100%;
      color: white; }
      .footer .footerSocialsContainer .socials .twitter {
        background: url("assets/twitter_normal.png") no-repeat; }
      .footer .footerSocialsContainer .socials .twitter:hover {
        background: url("assets/twitter_hovered.png") no-repeat; }
      .footer .footerSocialsContainer .socials .facebook {
        background: url("assets/fb_normal.png") no-repeat; }
      .footer .footerSocialsContainer .socials .facebook:hover {
        background: url("assets/fb_hovered.png") no-repeat; }
      .footer .footerSocialsContainer .socials .vk {
        background: url("assets/vk_normal.png") no-repeat; }
      .footer .footerSocialsContainer .socials .vk:hover {
        background: url("assets/vk_hovered.png") no-repeat; }
  .footer .footerLogoContainer {
    width: 30%;
    height: 100%;
    background-color: #492F92; }
    .footer .footerLogoContainer #logoImage {
      width: 72%;
      height: auto;
      display: block;
      margin-left: auto;
      padding-right: 20px; }

/*# sourceMappingURL=style.css.map */
